<body>

  <div class="container">
    <img src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Profile picture" class="picture">
    <div>
      <h1>Alberto Amoruso</h1>
      <a class="nickname" target="_blank" style="text-decoration: none; color:currentColor;" href="https://t.me/AKeeller">@AKeeller</a>
    </div>
  </div>

  <hr style="max-width: 450px; opacity: 50%; border-width: 0.3px; margin-top: 60px; margin-bottom: 20px;">

  <div class="about1">
    <div class="about2">
      <h1>About</h1>
      <p>Text here</p>
    </div>
  </div>
</body>