@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500&display=swap');

.whole-page {
  margin: auto;
  width: min-content;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.picture{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  margin:20px 20px 20px 0px;
}

h1, h2, p, a {
  font-family: 'Roboto Mono', monospace;
}

.nickname, .fullname {
  margin: 0 auto;
  white-space: nowrap;
}

a {
  text-decoration: none;
  color:currentColor;
}

.fullname {
  font-size: min(32px, 9vw);
}

hr {
  opacity: 40%;
  border-width: 0.3px;
}

hr.divisor {
  margin-top: 60px;
  margin-bottom: 30px;
}

hr.line {
  display: inline-flex;
  margin: 0px;
  height: 0px;
  width: 40px;
}

span.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

a.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
  min-height: 30px;
  transition-duration: 0.3s;
}

@media (hover: hover) {
  a.social-icons:hover {
    transform: scale(1.3);
  }
}

@media (max-width: 500px) {
  .header {
    flex-direction: column;
  }
  .picture {
    margin: 20px 0px;
  }
  hr.line {
    display: none;
  }
}

@media (prefers-color-scheme: dark) and (min-resolution: 192dpi) {
  .picture {
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
  }
}