<div class="whole-page">
  <div class="whole-page-inner">

    <div class="header">
      <img class="picture" src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Profile picture">
      <div>
        <h1 class="fullname">Alberto Amoruso</h1>
        <a class="nickname" target="_blank" href="https://t.me/AKeeller">@AKeeller</a>
      </div>
    </div>

    <hr />

    <div>
      <h2>About</h2>
      <p>Text here</p>
    </div>

    <span class="social-icons">
      <fa-icon *ngFor="let icon of socialIcons" [icon]="icon"></fa-icon>
    </span>

  </div>
</div>