html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

canvas {
	width: 100vmin;
	height: 100vmin;
	display: block;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
	}
}