<header class="header">
  <img class="picture" src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Profile picture">
  <div>
    <h1 class="fullname">Alberto Amoruso</h1>
    <a class="nickname" target="_blank" href="https://t.me/AKeeller">@AKeeller</a>
  </div>
</header>

<hr class="divisor" />


<about [icon]="faAddressCard" [title]="'About'">
  I'm a {{ age }} years old guy.
</about>

<about [icon]="faTerminal" [title]="'Code'">
  These are my known programming languages:
  <ul>
    <li>C</li>
    <li>C#</li>
    <li>Java</li>
    <li>Swift</li>
  </ul>
  Thank you very much.
</about>

<about [icon]="faFileUpload" [title]="'Send a file'">
  Send me a file of any size!
</about>


<footer>
  <span class="social-icons">
    <hr class="line" />
    <a  class="social-icons" [href]="social.link" target="_blank" *ngFor="let social of socials">
      <fa-icon [icon]="social.icon"></fa-icon>
    </a>
    <hr class="line" />
  </span>
</footer>