.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}

.picture{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  margin-right: 20px;
}

.nickname, .fullname {
  margin: 0 auto;
  white-space: nowrap;
}

.fullname {
  font-size: min(32px, 9vw);
}

hr.divisor {
  margin-top: 50px;
  margin-bottom: 50px;
}

footer {
  margin-top: 30px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 500px) {
  .header {
    flex-direction: column;
  }
  .picture {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}

@media (prefers-color-scheme: dark) and (min-resolution: 192dpi) {
  .picture {
    border-style: solid;
    border-width: 1px;
    border-color: currentColor;
  }
}