<header class="header">
  <img class="picture" src="assets/picture.jpg" alt="Profile picture">
  <div>
    <h1 class="fullname">Alberto Amoruso</h1>
    <a class="nickname" target="_blank" href="https://t.me/AKeeller">@AKeeller</a>
  </div>
</header>

<hr class="divisor" />


<chapter [icon]="faAddressCard" [title]="'About'">
  <p>
    Hello and welcome to my website! Let me introduce myself.
  </p>
  <p>
    I'm a {{ age }} years old guy and I have a degree in Computer Science from <a href="https://www.unimi.it" target="_blank">@Unimi</a>.
  </p>
</chapter>

<chapter [icon]="faTerminal" [title]="'Code'">
  <p>
    I love coding. It has always been my passion since I was a child and I live to keep increasing my knowledge in this field.
  </p>
  <p>
    <a routerLink="/coding">Click here to find out everything about my skills and my everyday tools.</a>
  </p>
</chapter>

<chapter [icon]="faHammer" title="Projects">
  <p>
    <a routerLink="/projects">For a list of my projects, click here.</a>
  </p>
</chapter>


<footer>
  <social-icons></social-icons>
</footer>