<header class="header">
  <img class="picture" src="assets/picture.jpg" alt="Profile picture">
  <div>
    <h1 class="fullname">Alberto Amoruso</h1>
    <a class="nickname" target="_blank" href="https://t.me/AKeeller">@AKeeller</a>
  </div>
</header>

<hr class="divisor" />


<about [icon]="faAddressCard" [title]="'About'">
  <p>
    Hello and welcome to my website! Let me introduce myself.
  </p>
  <p>
    I'm a {{ age }} years old guy and I have a degree in Computer Science from <a href="https://www.unimi.it" target="_blank">@Unimi</a>.
  </p>
  <p>
    <b><a routerLink="/about-me">Continue reading...</a></b>
  </p>
</about>

<about [icon]="faTerminal" [title]="'Code'">
  <p>
    These are my known programming languages:
  </p>
    <ul>
      <li>C</li>
      <li>C#</li>
      <li>Java</li>
      <li>Swift</li>
    </ul>
  <p>
    Thank you very much.
  </p>
</about>

<about [icon]="faHammer" title="Projects">
  <p>
    <a routerLink="/projects">For a list of my projects, click here.</a>
  </p>
</about>

<about [icon]="faFileUpload" [title]="'Send a file'">
  <p>
    Send me a file of any size!
  </p>
</about>


<footer>
  <social-icons></social-icons>
</footer>